.Media {
  cursor: pointer;
  margin-right: 15px;
  display: inline-block;
  width: 260px;
  vertical-align: top;
}

.Media:hover .media-cover {
  box-shadow: 0 0 10px $color-sombreado;
}

.Media-cover {
  transition: .3s; 
  box-shadow: 0 0 5px $color-sombreado;
  height: 160px;
}

.Media-image {
  object-fit: cover;
}

.Media-title {
  margin: 5px 0 0 0;
  color: $color-letra;
  white-space: normal;
}

.Media-author {
  font-size: 12px;
  margin: 5px 0 0 0;
}